html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 199, 200);
    font-family: 'Alegreya', serif;
    margin:0px -10px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(173, 173, 173);
    padding: 0 5%;
    height: 4rem;
    position: fixed;
   z-index: 1;
   width: 100%;
   top: 0px;
}

.header li {
    display: inline;
    color:rgb(0, 0, 0);
    font-weight: bold;
    padding-right: 2rem;
}

.header a {
  text-decoration: none;
 }
 
 .header a li:hover {
  color: rgb(141,233,235);
 }
  

.header .logo {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    font-family: "Shrikhand";
    font-size: 1.2rem;
}

.header .logo a {
  color: rgb(0, 0, 0);
 }
 
 .header .logo a:hover {
  color: rgb(141,233,235);
 }
 

.header ul {
  margin-right: 150px;
 } 

/* Banner */
.banner {
    background: url("./img/INVU\ banner.jpg");
    height: 750px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-family: "Shrikhand";
    margin-top: 70px;
} 

.banner .h1 {
    /*background-color: rgb(183, 193, 201);*/
    width: 100px;
    text-align: center;
    color: bisque;
    margin-top: 280px;
    margin-left: 25px;
    border-top: 6px dotted rgb(201, 199, 200);
    border-bottom: 6px solid rgb(122, 122, 122)
}    

.banner h2 {
    background-color: rgb(139, 138, 138);
    width: 200px;
    text-align: center;
    color: aliceblue;
    margin-top: 0px;
    margin-left: 25px;
}

/* MV */
.mv {
    text-align: center;
    margin-top: 150px;
    color: rgb(0, 0, 0);
    font-family: Shrikhand;
    letter-spacing: 0.15rem;
} 

.video-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    background-color: rgb(160, 160, 160);
    height: 450px;
  }
  
  .video-info {
    margin-top: 5px;
    text-align: center;
    padding-left: 80px;
    width: 300px;
  }
  
  .video-info h2 {
    color: rgb(129, 97, 172);
    width: 300px;
  }
  
  .video-info p {
    color: white;
    width: 300px;
  }
  
  .video-youtube {
    margin: 20px;
    position: relative;
    width: 660px;
  }
  
  .video-youtube iframe {
    width: absolute;
    top: 0;
    left: 0;
  }
  
  .video-thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    width: 250px;
  }
  
  .video-thumbnails img {
    width: 178px;
    height: 100px;
    margin: 22px;
    border: 3px solid rgb(224, 177, 203);
    cursor: pointer;
  }
  
  .video-thumbnails img:hover {
    border: 3px solid rgb(159, 134, 192);
    filter: brightness(0.5.1);
  }

/* About */
.About {
  text-align: center;
  margin-top: 70px;
  color: rgb(0, 0, 0);
  font-family: Shrikhand;
  letter-spacing: 0.15rem;
} 

.aboutCards {
 text-align: center;
}

.aboutCards .col {
  display: inline-block;
  margin-left: 50px;
}

.aboutCards a {
  background-color: black;
  color: rgb(243, 243, 243);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.03px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  /*border: 2px solid rgb(201, 199, 200);*/
  border-radius: 8px;
}

.aboutCards a:hover {
  /*background-color: rgb(108, 109, 110);*/
  /*background-image: linear-gradient(gray, white;*/
  background: linear-gradient(45deg, rgb(167, 167, 167) 0%, rgb(65, 65, 65) 100%);
  /*background: radial-gradient(circle, rgba(167,167,167,1) 0%, rgba(65, 65, 65,1) 100%);*/
}

/* Contact */
.Contact {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-family: Shrikhand;
  letter-spacing: 0.15rem;
} 

.contact-container {
  display: flex;
  align-items: flex-start;
  background-color: rgb(218, 218, 218);
  padding-top: 20px;

}

.img-container {

}

.img-container img {
width: 275px;
}

/* Form */
.form-container {
  flex: 1;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: 70px;
  color: rgb(0, 0, 0);
}

form {
  display: flex;
  flex-direction: column;
 }


form h2 {
  color:rgb(0, 0, 0);
  font-style: italic;
}

/* Text Input Fields */
input[type="text"],
text area {
 width: 100%;
 padding: 3px;
 margin-top: 5px;
 border: 2px solid rgb(0, 0, 0);
 border-radius: 8px;
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
}

input[type="text"]:focus,
textarea:focus {
outline: none; /*Remove the default bluder border */
border-color: rgb(255, 255, 255);
}

/* gender-container */

.gender-container {
  flex-wrap: nowrap;
}


.gender-container input[type="radio"] {
  margin-left: 20px;
  width: 10px; /* the size of buttons */
  /*border: 1px solid rgb(35, 25, 66);*/
}

.gender-container input[type="radio"]:first-child {
  margin-left: 55px;
  /* first child means the male button */
}

input[type="radio"] {
  margin-left: 10px;
  margin-top: 8px;
  appearance: none; /* Remove the default appearance of the radio button */
 }
 
 
 input[type="radio"]:before {
  content: ''; /* Create a pseudo-element to style the radio button */
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1.5px solid rgb(224, 177, 203);
 }

 input[type="radio"]:checked:before {
  border: 1px solid rgb(0, 0, 0); /* Set the border color */
  background-color: rgb(177, 177, 177); /* Set the background color */
 }
 
/* Text Input Fields */
input[type="text"],
input[type="email"],
input[type="date"],
textarea {
 width: 80%;
 padding: 3px;
 margin-top: 5px;
 border: 2px solid rgb(35, 25, 66);
 border-radius: 8px;
 background-color: rgb(224, 177, 203);
 color: rgb(35, 25, 66);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
 outline: none;
 border-color: rgb(190, 149, 196);
}

/* Submit */
input[type="submit"] {
  width: 30%;
  padding: 8px;
  background-color: rgb(159, 134, 192);
  color:whitesmoke;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
 }
 

input[type="submit"]:hover {
 background-color: rgb(224, 177, 203);
 color: rgb(35, 25, 66);
 font-weight: 700;
}











/* Map */
.map-container {
  filter: hue-rotate(3.142rad);
}
.map iframe {

}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
 margin-bottom: 10px;
}


.footer-left {
  color: rgb(159, 134, 192);
  font-size: 14px;
  flex-grow: 1;
  padding-left: 30px;
 }

 .social-icons {
  padding-right: 30px;
 }
 
 .social-icons li {
  display: inline;
  padding-left: 5px;
 }
 
 .social-icons svg {
  fill: rgb(159, 134, 192);
 }
 
 